<!-- Material app bar from angular-material-->
<mat-toolbar color="primary">
    <div class="container navbar">
        <span>EK Inventory Management</span>
    </div>
</mat-toolbar>

<div class="container dashboard">
    <!-- summary component -->
    <app-summary [products]="products" (callGetAllProducts)="productComponent.getAllProducts()" [width]="width"></app-summary>

    <!-- product table component -->
    <app-product-table [width]="width" #productComponent (products)="getAllProducts($event)"></app-product-table>

    <!-- order table component -->
    <app-order-table [width]="width"></app-order-table>
</div>