.dashboard {
    display: grid;
    row-gap: 2rem;
    padding-bottom: 0 0 0 10px;
    margin-top: 10px;
}

.navbar span {
    font-family: 'Satisfy', cursive;
    border: 1px solid white;
    padding: 5px 10PX;
}